<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>gsplus</title>
    <script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="static/js/site.js"></script>
  </head>
  <body>
    <input id="songsearch" placeholder="Enter song name here"></input>
    <button id="submitsong">Submit</button>
    <img id="ajaxgif" src="static/images/ajax-loader.gif" style="display:none;"></img><br>
    <p id='lengthwarning' style="color:red; display: none;">Please enter a song title</p>
    <p id="postnotification" style="color:green; display: none;"></p>
    <hr>
    <button id="clearbutton">Clear</button>
    <button id="nextbutton">Next</button><br>
    <p id='queuenotification' style='color:green; display: none;'></p>
    <hr>
    <button id="playbutton">Play</button>
    <button id="pausebutton">Pause</button><br>
    <p id='statenotification' style='color:green; display: none;'></p>
    <hr>
    <button id="volumeup">Volume +</button>
    <button id="volumedown">Volume -</button><br>
    <p id="volumenotification" style='color:green; display: none;'></p>
  </body>
</html>
